<%- include('partials/header') %> 

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" name="postTitle">
    <label for="postInput">Post</label>
    <textarea class="form-control" id="postInput" rows="4" name="postBody"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" name="button">Submit</button>
</form>

<%- include('partials/footer') %> 